<h1 class="base-text">New Postcard</h1>
      <%= render(NavigationComponent.new) do %>
    <% end %>
<div class="m-4">
<%= form_with model: @note do |form| %>
  <div>
    <%= form.label :title, class: "base-text"%><br>
    <%= form.text_field :title, class: "bg-amber-50 rounded" %>
    <% @note.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body, class: "base-text" %><br>
    <%= form.text_area :body, class: "bg-amber-50 rounded" %><br>
    <% @note.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  
  <div>
    <%= form.submit "Send Postcard", class: "button cursor-pointer" %>
  </div>
<% end %>
</div>
