<div class="font-serif bg-amber-50 border border-gray-300 rounded m-4 relative max-w-md mx-auto">
  <div class="flex flex-col md:flex-row relative">
    <!-- Left side for the message -->
    <div class="md:w-2/3 p-4">
      <div class="font-extrabold text-lg mb-2">
        <%= @note.title %>
      </div>
      <p class="text-gray-700 mb-4"><%= @note.body %></p>
      <% if helpers.current_user.id == @note.user_id %>
        <%= button_to "Delete", @note, method: :delete, class: "bg-red-500 text-white py-1 px-2 rounded shadow-md" %>
      <% end %>
    </div>
    <!-- Right side for the address -->
    <div class="border-l-2 border-gray-300">
      <div class="absolute top-0 border-l-2 right-0 m-2 p-1">
      <% if helpers.current_user.id == @note.user_id %>    
<%= button_to "Delete", @note, method: :delete, class: "button py-1 px-2 " %>
     <% end %>
      </div>
      <div class="mb-4 mt-12">
        <div class="text-sm text-gray-500">Address:</div>
        <div class="text-gray-700">
        <p>to 
        <% if @note.recipient.present? %>
             <%= @note.recipient %>
        <%else%>
   Anonymous
          <% end %>
          </p>
        </div>
      </div>
      <div class="mt-8">
        <div class="text-sm text-gray-500">Date:</div>
        <div class="text-gray-700"><%= @note.updated_at.strftime("%m/%d/%Y") %></div>
      </div>
    </div>
  </div>
</div>
