<%= form_with(model: candle, class: "contents") do |form| %>
  <% if candle.errors.any? %>
    <div id="error_explanation" class="bg-red-50 base-text text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(candle.errors.count, "error") %> prohibited this candle from being saved:</h2>
      <ul>
        <% candle.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5 base-text">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5 base-text">
    <%= form.label "Light this candle?" %>
    <%= form.check_box :lit, class: "block hover:bg-red-50 cursor-pointer mt-2 h-5 w-5" %>
  </div>

  <div class="inline">
    <%= form.submit class: "button cursor-pointer" %>
  </div>
<% end %>
