<div class="w-full">
  <% content_for :title, "Candles" %>
  <div class="flex justify-between items-center">
    <h2 class="base-text">Candles</h2>
    <%= link_to "New candle", new_candle_path, class: "button" %>
  </div>
  <div id="candles" class="min-w-full">
    <% @candles.each do |candle| %>
    <% if candle.lit == true %>
         <%= image_tag("in_memory_of_lit.svg", :alt => "candle", class: "border border-amber-50 rounded-xl hover:cursor-pointer hover:animate-pulse") %>
         <% else %>
          <%= image_tag("in_memory_of_unlit.svg", :alt => "candle", class: "border border-amber-50 rounded-xl hover:cursor-pointer hover:animate-pulse") %>
          <% end %>
      <%= render candle %>
      <p>
        <%= link_to "Show this candle", candle, class: "button" %>
      </p>
    <% end %>
  </div>
</div>
