<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Candles" %>

<h1 class="base-text">Memento Mori</h1>

  <div class="flex justify-between items-center">
    <h2 class="font-bold base-text">Candles</h2>
    <%= link_to "New candle", new_candle_path, class: "button cursor-pointer" %>
  </div>
       <%= render(NavigationComponent.new) do %>
    <% end %>
  <div id="candles" class="min-w-full">
    <% @candles.each do |candle| %>
      <%= render candle %>
      <p>
        <%= link_to "Show this candle", candle, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
  </div>
</div>
