<!DOCTYPE html>
<html>
  <head>
    <title>MementoMori</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-stone-900">
    <main class="container mx-auto px-5 prose">
     <%= image_tag("memento_mori.svg", :alt => "memento mori") %>
     <p class="base-text italic">Your postage service to the Great Beyond...</p>
               <%= render(NavigationComponent.new) do %>
    <% end %>
          <p class="notice error-text"><%= notice %></p>
       <p class="alert error-text"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
