<!DOCTYPE html>
<html>
  <head>
    <title>MementoMori</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-stone-900">
    <main class="container mx-auto mt-28 px-5 prose">
          <p class="notice base-text text-red-800"><%= notice %></p>
       <p class="alert base-text text-red-800"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
